<main>
 <div class="cover">
   <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
     <p id="notice"></p>
        <div class="container">
          <div class="row">
           <div class="mx-auto col-8 col-sm-6 col-lg-8">
            <div class = "main-text">
          <h2><strong>ご覧いただき</br>ありがとうございます</strong>!!</h2>
          <h3><p> 手軽に体重記録の習慣を身につけるためのダイエットサポートのアプリケーションを作成しました。</p>
           <p>体重を記録することで健康意識を高めていくきっかけになればと思います</p></h3></div>


             <div class="btn-wrapper col-10 mx-auto">
              <div class="row">
               <div class = "user">
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-warning btn-sm btn-block mb-3 Login" %>
              </div>
              </div>
               <div class="row">
                <div class = "user">
               <%= link_to "新規登録", new_user_registration_path, class: "btn btn-warning btn-sm btn-block sign_up" %>
               </div>
               </div>
            </div>
           </div>
         </div>
        </div>
     </div>


</main>


