// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.cover{
          background-image: image-url('woman-g2f0ac5988_1920.jpg');
          background-size: cover;
}
.main-text{
           margin-top: 150px;

}
.user{
           margin-top: 30px;
           // width: 50%;
           min-width: 200px;
           // max-width: 600px;
           // padding: 10px;

}
