<h1>plan show グラフもここに</h1>


 <canvas id="myChart" width="300" height="100"></canvas>


<script>
  $(function() {
    var ctx = document.getElementById("myChart").getContext('2d');

    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
      label: gon.weigth,
         // labelsは横軸。文字列では取り出せない
        datasets: [{
          label: "体重",
          data:gon.weigth,
          // dateは縦軸
          backgroundColor: 'white',
          borderColor: 'red',
          borderWidth: 1.2,
          fill: false
        },
        {
            type: 'line', 
            label: "体脂肪",
            data:gon.body_fat,
            backgroundColor: 'white',
            borderColor: 'blue',
            borderWidth: 1.2,
            // #これを書かないと棒線の下の部分が塗られてしまう
            fill: false,
        }]
      },
      options: {
        title:  {
          display: true,
          text: "体重・体脂肪の推移",
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
              suggestedMin: 0,
              suggestedMax: 10,
            }
          }]
        }
      }
    });
  })
</script>
