<!--<div class="bg-info p-2 text-dark bg-opacity-50">-->
<!-- <div class="user" style="min-height: 500px">-->
<!--  <div class="card col-sm-5 mx-auto mt-5">-->
<!--    <div class="card-body">-->
<!--      <h4 class="mt-1 mb-3 bg-gray text-center ">グラフ</h4>-->

      <p>
        <strong>開始体重</strong>
        <%= @plan.start_weight %> kg
      </p>

      <p>
        <strong>目標体重</strong>
        <%= @plan.target_weight %> kg
      </p>

     <canvas id="myChart" width="300" height="200"></canvas>

<!--    </div>-->
<!--   </div>-->
<!--  </div>-->
<!--</div>-->


<script>
  $(function() {
    var ctx = document.getElementById("myChart").getContext('2d');

    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
      label:gon.date,
      // 日付をつけたい
         // labelsは横軸。文字列では取り出せない
        datasets: [{
          label: "体重",
          data:gon.weight,
          // dateは縦軸
          backgroundColor: 'white',
          borderColor: 'red',
          borderWidth: 2,
          fill: false
        },
        {
            type: 'line',
            label: "体脂肪",
            data:gon.body_fat,
            backgroundColor: 'white',
            borderColor: 'blue',
            borderWidth: 2,
            // これを書かないと棒線の下の部分が塗られてしまう
            fill: false,
        }]
      },
      options: {
        title:  {
          display: true,
          text: "体重・体脂肪の推移",
        },
        scales: {
           yAxes: [{
            id: "y-axis-1",   // Y軸のID
            type: "linear",   // linear固定
            position: "left", // どちら側に表示される軸か？
            ticks: {          // スケール
                max: 100,
                min: 1,
                stepSize: 1
            },
             gridLines: { // このオプションを追加
                drawOnChartArea: false,
            },
        }, {
            id: "y-axis-2",
            type: "linear",
            position: "right",
            ticks: {
                max: 35,
                min: 1,
                stepSize: 1
            },
        }],
        }
      }
    });
  })
</script>
